{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{ locale.text('Password Reset') }}</h1>
        <p>{{ locale.text("Enter your account's email address, and we'll send you an email with a link to reset your password.") }}</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <form id="passwordResetLinkRequestForm" method="post">
          <div class="form-group">
            <label for="emailInput">{{ locale.text('Email') }}</label>
            <input class="form-control" placeholder="{{ locale.text('Email') }}" id="emailInput" name="email" type="text">
          </div>
          <button class="btn btn-primary" type="submit">{{ locale.text('Send') }}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
