@import '../../layout.scss';

div.email-registration-page {

  & h1.page-heading {
    @extend %common-page-heading-positioning;
  }

  & > * {
    @extend %phone-side-margins;
  }
}

.email-registration-form {

  & button {
    margin-top: 10px;
  }

  & input {
    margin-top: 10px;
    width: 100%;
  }
}
