@import '../colors.scss';

$header-height: 200px;
$header-backdrop-blur: 32px;

.sightings-filter {
  & button {
    color: $primary;
    box-sizing: content-box;
    background: none!important;
    display: inline;
    border: none;
    font-family: inherit;
    transform-origin: 0 0;
    perspective-origin: 0 0;
    cursor: pointer;

    &:focus {
      outline: none;
    }
    
    &:hover {
      color: $black;
    }
    
    &.selected {
      color: $darkgrey;
      cursor: unset;
    }
  }
}

.detailed-sighting-card > .card-header {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: $header-height;
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  border-style: none;
  background-color: black;
  overflow: hidden;
  padding: 0;
}

.card-header > .background {
  grid-row: 1;
  overflow: hidden;
  grid-column: 1 / 4;
  height: $header-height + ($header-backdrop-blur * 8);
  background-repeat: repeat-x;
  background-position: center;
  margin: -($header-backdrop-blur * 4);
  filter: blur($header-backdrop-blur);
  -webkit-filter: blur($header-backdrop-blur);
}

.card-header > .middle-front {
  grid-row: 1;
  grid-column: 2;
  z-index: 1;
  margin-top: 50px;
  height: $header-height - 50px;

  & img {
    height: 100%; 
    width: 100%; 
    object-fit: contain;
  }
}


