version: '3'

services:

  frontend-service:
    build:
      context: ./frontend-service
      dockerfile: Dockerfile-prod
      args:
        apiurl: https://yourrestapidomain.tld
    expose:
      - 3003
    environment:
      API_URL: https://yourrestapidomain.tld
      EXTERNAL_HOST: https://yourwebpagedomain.tld
      VIRTUAL_HOST: yourwebpagedomain.tld
      VIRTUAL_PORT: 3003
      LETSENCRYPT_HOST: yourwebpagedomain.tld
      LETSENCRYPT_EMAIL: email@domain.tld

  api-service:
    expose:
      - 3000
    environment:
      BEHIND_PROXY: 'true'
      FLASK_ENV: production
      EXTERNAL_HOST: https://yourrestapidomain.tld
      VIRTUAL_HOST: yourrestapidomain.tld
      VIRTUAL_PORT: 3000
      LETSENCRYPT_HOST: yourrestapidomain.tld
      LETSENCRYPT_EMAIL: email@domain.tld
      MAIL_SERVER: smtp.yourmailserver.tld
      MAIL_PORT: 465
      MAIL_USERNAME: yourusername
      MAIL_PASSWORD: yourpassword
      MAIL_USE_TLS: 'false'
      MAIL_USE_SSL: 'true'
      FRONTEND_HOST: https://yourwebpagedomain.tld

networks:
  default:
    external:
      name: nginx-proxy
