{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{ locale.text('Add Sighting') }}</h1>
        <form method="post" action="{{ url_for('sighting.post_sighting') }}">
          <div class="form-group row">
            <label for="birdInput" class="col-sm-2 col-form-label">{{ locale.text('Bird') }}</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="birdInput" value="{{ locale.name(view.bird) }}">
            </div>
          </div>
          <div class="form-group row">
            <label for="dateInput" class="col-sm-2 col-form-label">{{ locale.text('Date') }}</label>
            <div class="col-sm-10">
              <input type="date" id="dateInput" name="dateInput" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="timeInput" class="col-sm-2 col-form-label">{{ locale.text('Time') }}</label>
            <div class="input-group col-sm-10" id="timeInput">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" id="timeCheckboxInput" name="timeCheckboxInput" checked>
                </div>
              </div>
              <input type="time" id="timeTimeInput" name="timeTimeInput" class="form-control">
            </div>
          </div>
          <input type="hidden" name="birdId" value="{{ view.bird.id }}">
          <a href="{{ url_for('home.index') }}" class="btn btn-secondary">{{ locale.text('Cancel') }}</a>
          <button class="btn btn-primary">{{ locale.text('Add') }}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    (function() {
      'use strict'
      Date.prototype.toDateInputValue = (function() {
        var local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0, 10);
      });
      Date.prototype.toTimeInputValue = (function() {
        var local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(11, 16);
      });
      function defaultDateInput() {
        var dateInput = document.getElementById('dateInput');
        dateInput.value = new Date().toDateInputValue();
      }
      function setUpTimeInputToggle() {
        var checkbox = document.getElementById('timeCheckboxInput');
        var timeInput = document.getElementById('timeTimeInput');
        function enableTimeInput() {
          timeInput.removeAttribute('disabled');
          timeInput.value = new Date().toTimeInputValue();
        }
        function disableTimeInput() {
          timeInput.setAttribute('disabled', 'disabled');
          timeInput.value = '';
          timeInput.focus();
        }
        checkbox.addEventListener('change', function() {
          if (this.checked) {
            enableTimeInput();
          }
          else {
            disableTimeInput();
          }
        });
      }
      function defaultTimeInput() {
        var timeInput = document.getElementById('timeTimeInput');
        timeInput.value = new Date().toTimeInputValue();
      }
      window.addEventListener('load', defaultDateInput);
      window.addEventListener('load', setUpTimeInputToggle);
      window.addEventListener('load', defaultTimeInput);
    })();
  </script>
{% endblock %}
