@import '../colors.scss';

div.navbar-account {
  padding-top: 0px;

  & a {
    color: $black;

    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }

  @media (prefers-color-scheme: dark) {
    & a {
      color: $white;
    }
  }
}
