@import '../colors.scss';
@import '../layout.scss';

.bird-result-container {
  @extend %common-main-margin-top;
  position: relative;

  & .bird-search-result-info {
    @extend %phone-side-margins;
    color: $lightgrey;
    margin-bottom: 10px;
  }
}
