.bird-name-card {
  width: 100%;
  display: flex;
  justify-content: center;

  & div {
    background-color: white;
    text-align: center;
    padding-top: 1px;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    box-shadow: 0 0 1em 0.2em rgba(38, 38, 38, 0.05);

    & h1.bird-page-name {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 25px;
      z-index: 1;

      /* => md */
      @media (min-width: 768px) {
        font-size: 35px;
      }
    }
  }
}
