{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>{{ locale.text('Settings') }}</h1>
    {% if g.logged_in_account %}
      <a href="/settings/password">Change Password</a>
    {% endif %}
    <div class="nav-item">
      <a class="nav-link" href="/language?l=en">English</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="/language?l=sv">Svenska</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="/language?l=ko">한국어</a>
    </div>
  </div>
{% endblock %}
