{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>{{ locale.text('Change password') }}</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="post">
      <label for="oldPasswordInput">{{ locale.text('Old password') }}</label>
      <input id="oldPasswordInput" name="oldPasswordInput" type="password">
      <label for="newPasswordInput">{{ locale.text('New password') }}</label>
      <input id="newPasswordInput" name="newPasswordInput" type="password">
      <label for="newPasswordVerificationInput">{{ locale.text('New password again') }}</label>
      <input id="newPasswordVerificationInput" name="newPasswordVerificationInput" type="password">
      <button type="submit">Change password</button>
    </form>
  </div>
{% endblock %}
