@import '../colors.scss';

.advanced-search-icon {
  box-sizing: border-box;
  margin-top: 6px;
  margin-left: -40px;
  padding-right: 10px;

  &.expanded svg {
    transform: rotate(180deg);
    fill: $black;
  }

  & svg {
    box-sizing: border-box;
    vertical-align: middle;
    overflow: hidden;
    line-height: 1.5;
    width: 30px;
    height: 30px;
    fill: $lighter;
    transition: transform .1s ease-in-out;

    &:hover {
      fill: $darkgrey;
      cursor: pointer;
    }
  }
}
