@import '../colors.scss';

.advanced-search-toggle {
  cursor: pointer;
  fill: $lighter;

  &:hover {
    fill: $darkgrey;
  }

  & svg {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    transition: transform .1s ease-in-out;
  }

  &.expanded svg {
    transform: rotate(180deg);
    fill: $darkgrey;
  }
}
