@import '../colors.scss';

div.clear-search-button {
  cursor: pointer;
  fill: $lighter;

  &:hover {
    fill: $darkgrey;
  }

  & svg {
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
}
