@import '../colors.scss';
@import '../layout.scss';

.expandible-menu {
  background-color: $white;
  transition: max-height .3s;
  margin-top: 1px;
  padding-left: 15px;
  width: 100%;
  height: auto;
  max-height: 0px;
  overflow-y: hidden;

  &.collapsed {
    visibility: hidden;
  }

  &.expanding, &.expanded, &.collapsing {
    display: block;
  }

  @media #{$tablet-landscape-up} {
    display: none !important;
  }

  & a {
    display: block;
    padding: .5rem 1rem;
  }
}
