@import '../colors.scss';
@import '../layout.scss';

div.navbar {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  box-shadow: 0 .5rem 1rem transparentize(black, .85);
}

.search-advanced-icon {
  margin-top: 6px;
  margin-left: -40px;
  padding-right: 10px;

  &.expanded svg {
    transform: rotate(180deg);
    fill: $black;
  }

  & svg {
    width: 30px;
    height: 30px;
    fill: $lighter;
    transition: transform .1s ease-in-out;

    &:hover {
      fill: $darkgrey;
      cursor: pointer;
    }
  }
}

.navbar-username {
  padding-top: 0px;

  & a {
    color: $black;

    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }
}

.brand {
  display: inline-block;
  padding-top: 0.35rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;

  &::before, &::after {
    box-sizing: border-box;
  }
}

.navbar-toggler {
  box-sizing: border-box;
  padding: 0;
  border-style: none;
  color: rgba(0,0,0,.5);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-appearance: button;
  text-transform: none;
  margin: 0;
  font-family: inherit;
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-color: rgba(0,0,0,.1);
  border-radius: .25rem;

font-weight: 400;

  &:hover {
    background-color: $primary;
  }
  &:active {
    background-color: $white!important;
  }
  &:focus {
    box-shadow: none!important;
  }
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  color: rgba(0,0,0,.5);

  &:hover {
    color: rgba(0,0,0,.7);
  }
}

.navbar-toggler-icon {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  font-family: inherit;
  line-height: 1;
  display: inline-block;
  box-sizing: border-box;
  color: rgba(0,0,0,.5);
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat 50%;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.brand-name {
  font-family: 'Luckiest Guy', cursive;
  font-size: 130%;
  margin-left: 10px;
  color: $primary;

  &:hover {
    color: $darkgrey;
  }

  & span {
    margin-left: 1px;
  }
}

.navbar-main {
  grid-area: main;
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  font-size: 1.25rem;
  height: 48px;
}

.search-bar .form-input {
  padding: .75rem 1rem;
  font-size: inherit;
  border-radius: 0;
  border-right-width: 0;
  height: inherit;

  @media #{$tablet-landscape-up} {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
}

.search-bar button {
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: $white;
  background-color: $primary;
  border-radius: 0;
  border-width: 0;
  padding: .5rem 1rem;
  white-space: nowrap;

  &:hover {
    color: $white;
    background-color: $black;
  }

  @media #{$tablet-landscape-up} {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}
