@import '../colors.scss';

.navbar-brand {
  display: inline-block;
  margin-top: -7px;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;

  &::before, &::after {
    box-sizing: border-box;
  }
}

@font-face {
  font-family: 'Leckerli One';
  src: url('../LeckerliOne-Regular.ttf');
}

.brand-name {
  margin-left: 10px;
  color: $primary;
  font-size: 1.5em;

  &:hover {
    color: $darkgrey;
  }

  & span:nth-child(1) {
    font-family: 'Leckerli One', cursive;
    font-size: 1em;
  }

  & span:nth-child(2) {
    font-family: monospace, monospace; // avoids automatic font resizing
    font-size: .8em;
    font-weight: 900;
  }
}
