@import '../colors.scss';

.navbar .grid {
  width: 100%;
  display: grid;
  background-color: $white;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 64px 48px;
  grid-template-areas:
    "main button"
    "search search";
}

.navbar-toggler:hover {
  background-color: $primary;
}

.navbar-toggler:active {
  background-color: $white!important;
}

.navbar-toggler:focus {
  box-shadow: none!important;
}

.brand-name {
  font-family: 'Carter One', cursive;
  font-size: larger;
  margin-left: 10px;
  color: $primary;
}

.brand-name:hover {
  color: $darkgrey;
}

.menu {
  background-color: $white;
  transition: max-height .3s;
  padding-left: 15px;
  width: 100%;
  height: auto;
  max-height: 0px;
  overflow-y: hidden;
}

.menu.collapsed {
  visibility: hidden;
}

.menu.expanding, .menu.expanded, .menu.collapsing {
  display: block;
}

.navbar .grid .navbar-main {
  grid-area: main;
}

.navbar .grid .menu-button {
  grid-area: button;
  align-self: center;
  justify-self: end;
  padding: 7px;
}

.navbar .grid .search-bar-item {
  grid-area: search;
  align-self: center;
}

.navbar .grid .menu {
  grid-area: menu;
  align-self: center;
  transition: position .5s;
}

.search-bar {
  display: flex;
  font-size: 1.25rem;
  height: 48px;
}

.search-bar .form-input {
  padding: .75rem 1rem;
  font-size: inherit;
  border-radius: 0;
  border-right-width: 0;
  height: inherit;
}

.search-bar button {
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: $white;
  background-color: $primary;
  border-radius: 0;
  border-width: 0;
  padding: .5rem 1rem;
  white-space: nowrap;

  &:hover {
    color: $white;
    background-color: $black;
  }
}

@media only screen and (min-width : 768px) {
  .navbar .grid {
    grid: 64px/ 3fr 7fr;
    grid-template-areas:
      'main search';
  }

  .navbar .grid .search-bar-item {
    padding-right: 7px;
  }

  .navbar .grid .menu-button {
    display: none;
  }

  .menu {
    display: none !important;
  }

  .search-bar .form-input {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .search-bar button {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}

@media only screen and (min-width : 1224px) {
  .navbar .grid {
    grid: 64px / 1fr 750px 1fr;
    padding-right: 0;
    grid-template-areas:
      "main search _";
  }

  .navbar .grid .search-bar-item {
    padding-right: 0px;
  }
}
