@import '../layout.scss';
@import '../colors.scss';

form.search-bar {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  font-size: 1.25rem;
  position: relative;

  & div.advanced-search-section {
    box-sizing: border-box;
    align-self: stretch;
    height: 0;
    overflow: hidden;
    transition: 
        height .1s ease-in-out, 
        padding-top .1s ease-in-out, 
        padding-bottom .1s ease-in-out;
    padding: 0;
    padding-left: .5rem;

    @media #{$tablet-landscape-up} {
      border-radius: .5rem;
      position: absolute;
      top: 62px;
      left: 0;
      right: 0;
      opacity: 1;
      transition: 
          height .1s ease-in-out, 
          padding-top .1s ease-in-out, 
          padding-bottom .1s ease-in-out,
          top .1s ease-in-out,
          opacity .1s ease-in-out,
          box-shadow .1s ease-in-out;

      &.dirty:not(.active) {
        display: block;
        height: 1rem;
        border-top: 1px $lighter solid;
        padding: .5rem;
        top: 34px;
        left: 0;
        right: 0;

        & * {
          opacity: 0;
        }
      }

      &.active {
        box-shadow: 0 .5rem 1rem transparentize(black, .85);
      }
    }

    &.dirty {
      border-bottom: 2px $primary solid;
    }

    &.active {
      display: block;
      height: 2.8rem;
      border-top: 1px $lighter solid;
      padding: .5rem;
    }
  }

  & div.simple-search-section {
    display: flex;
    max-width: 100vw;
    font-size: 1.25rem;

    & div.text-input {
      position: relative;
      width: 100%;
      align-items: center;
  
      & input.search-input {
        box-sizing: border-box;
        width: 100%;
        padding: .75rem 1rem;
        border: 1px solid $lighter;
        border-width: 1px 0;
        color: $black;
        background-color: $white;
        font-size: inherit;
        min-width: 0px;
        transition:
            border-color 0.15s ease-in-out, 
            box-shadow 0.15s ease-in-out;
  
        @media (prefers-color-scheme: dark) {
          background-color: $darkgrey;
          border-color: $lightgrey;
          color: $white;
        }
  
        @media #{$tablet-landscape-up} {
          border-radius: 0.5rem 0 0 0.5rem;
          border-left-width: 1px;
        }
      }
  
      & div.right {
        position: absolute;
        align-items: center;
        display: flex;
        top: 0;
        right: 0;
        bottom: 0;
  
        & > * {
          box-sizing: border-box;
          height: 100%;
          width: 2.5rem;
          padding: .5rem 0;
        }
  
        & div.clear-search-button {
          padding: .7rem 0;
        }
  
        & div.advanced-search-toggle {
          margin-right: .5rem;
        }
      }
    }
  
    & button {
      z-index: 1;
      white-space: nowrap;
      font-size: inherit;
      font-weight: 500;
      max-width: 0;
      border: 1px solid transparent;
      padding: 0;
      border: 0;
      transition: 
          color 0.15s ease-in-out,
          background-color 0.15s ease-in-out,
          box-shadow 0.15s ease-in-out,
          max-width 0.1s ease-in,
          padding 0.1s ease-in;
      color: $white;
      background-color: $primary;
      
      &:hover {
        color: $white;
        background-color: $darkgrey;
      }
    
      @media #{$tablet-landscape-up} {
        transition: max-width 0s, padding 0s;
        border-radius: 0 0.5rem 0.5rem 0;
        padding: 0 16px;
        max-width: unset;
      }
    
      &.expanded {
        max-width: 100px;
        padding: 0 16px;
      }
    }
  }
}
