@import '../layout.scss';
@import '../colors.scss';

.search-bar button {
  font-weight: 400;
  cursor: pointer;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  max-width: 0px;
  border: 1px solid transparent;
  transition: 
      color 0.15s ease-in-out, 
      background-color 0.15s ease-in-out, 
      box-shadow 0.15s ease-in-out, 
      max-width 0.1s ease-in, 
      padding 0.1s ease-in;
  color: $white;
  background-color: $primary;
  border-radius: 0;
  border-width: 0;
  padding: .5rem 1rem;
  white-space: nowrap;
  padding-left: 0px;
  padding-right: 0px;

  &:hover {
    color: $white;
    background-color: $black;
  }

  @media #{$tablet-landscape-up} {
    transition: max-width 0s, padding 0s;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    max-width: 100px;
    padding-left: 16px;
    padding-right: 16px;
  }

  &.expanded {
    max-width: 100px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.search-bar input {
  box-sizing: border-box;
}

.search-bar div { 
  box-sizing: border-box;

  & svg {
    box-sizing: border-box;
    vertical-align: middle;
    overflow: hidden;
    line-height: 1.5;
  }
}

.search-bar {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0;
  font-size: 1.25rem;
  height: 48px;
}

.search-bar .form-input {
  padding: .75rem 1rem;
  font-size: inherit;
  border-radius: 0;
  border-right-width: 0;
  height: inherit;

  @media #{$tablet-landscape-up} {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
}
