.feed-card {

  &:not(:first-of-type) {
    margin-top: 5px;
  }

  &.sighting {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px;
    grid-column-gap: 5px;

    & img {
      width: 100px;
      height: 100px;
    }

    & .bird-picture {
      border-radius: 50px;
      overflow: hidden;
    }

    & hr {
      margin: unset;
    }

    & .bird-name {
      font-weight: bold;
      font-size: 1.3em;
    }
  }
}
