@import '../colors.scss';
@import 'layout.scss';

.picture-cover-container {
  position: relative;
  z-index: 0;
  display: grid;
  background-color: $black;
  padding: 20px;
  height: 200px;
  @media only screen and (min-width : $break-small) {
    height: 400px;
  }

  & .bird-picture {
    position: absolute;
    z-index: -1;
    padding: 20px;
    top: 0;
    left: 0;
    bottom: 0;

    & > img {
      height: 100%;
    }
  }

  & .bird-name-card {
    grid-column: 2;
  }
}
