.bird-card {
  border: 1px solid #EEE;
  display: grid;
  grid: 150px / 150px auto;
  overflow: hidden;
  grid-template-areas:
    'picture body';

  & .bird-card-picture {
    grid-area: 'picture';
  }

  & .bird-card-body {
    padding: 10px;
    grid-area: 'body';
  }
}
