@import 'colors.scss';

.advanced-search-toggle {
  cursor: pointer;
  fill: $lighter;

  &:hover {
    fill: $darkgrey;
  }

  & svg {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    transition: transform .1s ease-in-out;
  }

  &.expanded {
    & svg {
      transform: rotate(180deg);
      fill: $darkgrey;
    }
  }

  &:not(.expanded).dirty svg {
    fill: $primary;
    filter: drop-shadow(0 0 5px transparentize($primary, .75))
  }

  @media (prefers-color-scheme: dark) {
    &:hover {
      fill: $white;
    }

    &.expanded svg {
      fill: $white;
    }
  }
}
