@import '../colors.scss';

.login-page {
  display: flex;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.login-page h1 {
  margin-bottom: .5rem;
  line-height: 1.2;
  font-weight: bolder;
  font-size: 2.5rem;
  margin-top: 0;
}

.login-page a {
  font-weight: 400;
  font-size: 16px;
}

.login-page a:hover {
  text-decoration: none;
}

.login-page .password-recover-link {
  margin-top: 20px;
  text-align: center;
}

.new-account-section {
  text-align: center;
}

.login-page .separator {
  border-top-style: solid;
  border-top-color: #CED4DA;
  border-top-width: 1px;
  margin: 40px 0 20px 0;
}

.bold-question {
  font-size: 18px;
  font-weight: 900;
}

.login-form {
  max-width: 600px;
  align-content: center;
  
}
