@import '../colors.scss';
@import '../layout.scss';

.login-page {
  display: flex;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;

  & h1 {
    @extend %phone-side-margins;
    margin-bottom: .5rem;
    margin-top: 0;
  }

  & .login-form {
    @extend %phone-side-margins;
    max-width: 600px;
    align-content: center;
  }

  & a {
    font-weight: 400;
    font-size: 16px;

    &:hover {
      text-decoration: none;
    }
  }
  
  & .password-recover-link {
    margin-top: 20px;
    text-align: center;
  }

  & .separator {
    border-top-style: solid;
    border-top-color: #CED4DA;
    border-top-width: 1px;
    margin: 40px 0 20px 0;
  }
}

.new-account-section {
  text-align: center;
}

.bold-question {
  font-size: 18px;
  font-weight: 900;
}
