@import '../colors.scss';

.login {
  display: flex;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.login h1 {
  font-weight: bolder;
}

.login a {
  font-weight: 400;
  font-size: 16px;
}

.login a:hover {
  text-decoration: none;
}

.login .password-recover-link {
  margin-top: 20px;
  text-align: center;
}

.new-account-section {
  text-align: center;
}

.login .separator {
  border-top-style: solid;
  border-top-color: #CED4DA;
  border-top-width: 1px;
  margin: 40px 0 20px 0;
}

.bold-question {
  font-size: 18px;
  font-weight: 900;
}

.login-form {
  max-width: 600px;
  align-content: center;
  
}
