.login {
  display: flex;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.login h1 {
  font-weight: bolder;
}

.login a {
  color: #EE6352;
  font-weight: 400;
  font-size: 16px;
}

.login a:hover {
  text-decoration: none;
  color: #262626;
}

.login .password-recover-link {
  margin-top: 20px;
  text-align: center;
}

.login .login-button {
  background-color: #EE6352;
  font-weight: bold;
  color: #FCFCFC;
}

.login input:focus {
  border-color: #EE6352;
  box-shadow: 0 0 0 0.2rem rgba(238, 99, 82, 0.15);
}

.login .login-button:hover {
  background-color: #4C535A;
}

.new-account-section {
  text-align: center;
}

.login .separator {
  border-top-style: solid;
  border-top-color: #CED4DA;
  border-top-width: 1px;
  margin: 40px 0 20px 0;
}

.bold-question {
  font-size: 18px;
  font-weight: 900;
}

.login-form {
  max-width: 600px;
  align-content: center;
  
}
