body {
  font-size: .875rem;
}

/*
 * Navbar
 */

.navbar-main {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.sidebar {
  position: sticky;
  top: 74px;
}

.sidebar .nav-link {
  font-weight: 500;
}

/*
 * Content
 */

/* < md */
.navbar-pushed {
  padding-top: 122px; /* Space for fixed navbar */
}

/* => md */
@media (min-width: 768px) {
  .navbar-pushed {
    padding-top: 74px; /* Space for fixed navbar */
  }
}

.card-bird-thumbnail {
  object-fit: cover;
  object-position: 0% 15%;
  width: 100%;
  max-height: 150px;
}

@media (min-width: 576px) {
  .card-bird-thumbnail {
    object-fit: fill;
    max-height: 100%;
  }
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

/* => md */
@media (min-width: 768px) {
  #loginFormContainer {
    width: 520px;
  }
  #registerRequestFormContainer {
    width: 520px;
  }
}
