.main-grid {
  display: grid;
  grid: 1fr / 1fr;
  grid-template-areas:
    'main';
}

.navbar-pushed {
  margin-top: 112px;
}

.sidemenu {
  display: none;
}

main {
  padding-top: 10px;
}

@media only screen and (min-width : 768px) {
  .main-grid {
    grid: auto / 3fr 7fr;
    grid-template-areas:
      'side main';
  }

  .navbar-pushed {
    margin-top: 64px;
  }

  .sidemenu {
    display: block;
  }
}

@media only screen and (min-width : 1224px) {
  .main-grid {
    grid: auto / 1fr 750px 1fr;
  }
}