html, body {
  background-color: #262626;
}

.main-grid {
  padding-bottom: 1em;
  background-color: white;
  height: auto;
  display: grid;
  grid: 1fr / 1fr;
  grid-template-areas:
    'main'
}

.navbar-pushed {
  padding-top: 116px;
}

.sidemenu {
  display: none;
}

@media only screen and (min-width : 768px) {
  .main-grid {
    grid: auto / 3fr 7fr;
    grid-template-areas:
      'side main';
  }

  .navbar-pushed {
    padding-top: 74px;
  }

  .sidemenu {
    display: block;
  }
}

@media only screen and (min-width : 1224px) {
  .main-grid {
    grid: auto / 1fr 750px 1fr;
  }
}
