$black: #262626;
$darkgrey: #4C535A;
$lightgrey: #8F98A1;
$lighter: #CED4DA;
$white: #FCFCFC;
$primary: #EE6352;
$danger: $primary;
$light-primary: #E4978D;
$color2: #59CD90;
$color3: #3FA7D6;
$color4: #FAC05E;
$color5: #F79D84;
