@import './colors.scss';
@import './style.scss';

footer {
  background-color: $black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;            /* Footer height */
  padding: 20px;
}

footer a {
  color: $lightgrey;
}

footer a:hover {
  color: $primary;
}

footer .selected {
  color: $darkgrey;
}

.language {
  display: flex;
  flex-direction: row;
}

.language > * {
  margin: 0px 5px;
}
