@import './colors.scss';
@import './layout.scss';

footer {
  background-color: $black;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: $footer-height;
  padding: 20px;
}

footer .language-option {
  color: $lightgrey;
  box-sizing: content-box;
  background: none!important;
  display: inline;
  border: none;
  padding: 0!important;
  font-family: inherit;
  transform-origin: 0 0;
  padding: 0;
  perspective-origin: 0 0;
  cursor: pointer;
}

footer .language-option:focus {
  outline: none;
}

footer .language-option:hover {
  color: $primary;
}

footer .language-option.selected {
  color: $darkgrey;
}

.language {
  display: flex;
  flex-direction: row;
}

.language > * {
  margin: 0px 5px;
}
