@import './colors.scss';

footer {
  margin: 20px;
}

footer a {
  color: $lightgrey;
}

footer a:hover {
  color: $primary;
}

footer .selected {
  color: $darkgrey;
}

.language {
  display: flex;
  flex-direction: row;
}

.language > * {
  margin: 0px 5px;
}
