@import './layout.scss';

div.main {
  display: grid;
  grid: 1fr / 1fr;
  grid-template-areas:
    'main';
  -webkit-perspective: 500px;
  perspective: 500px;

  @media only screen and (min-width : $break-small) {
    grid: auto / 3fr 7fr;
    grid-template-areas:
      '. main';
  }

  @media only screen and (min-width : $break-large) {
    grid: auto / 1fr 750px 1fr;
    grid-template-areas:
      '. main .';
  }

  & main {
    grid-area: main;
    max-width: 100vw;
  }
}
