@import './layout.scss';

%navbar-pushed {
  padding-top: 112px + 15px;

  @media only screen and (min-width : $break-small) {
    padding-top: 64px + 15px;
  }
}

%padding-to-footer {
  padding-bottom: $footer-height + 40px;
}

div#root {
  position: relative;
  min-height: 100vh;

  & div.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  & .sidemenu {
    @extend %navbar-pushed;
    display: none;
    z-index: 1;
    position: fixed;
    top: 0px;
  
    @media only screen and (min-width : 768px) {
      display: block;
    }
  }

  & .main {
    width: 100%;
    background-color: white;
    top: 0;
    bottom: 0;
    display: grid;
    grid: 1fr / 1fr;
    min-height: 100vh;
    grid-template-areas:
      'main';
    -webkit-perspective: 500px;
    perspective: 500px;
  
    @media only screen and (min-width : 768px) {
      grid: auto / 3fr 7fr;
      grid-template-areas:
        '. main';
    }
  
    @media only screen and (min-width : 1224px) {
      grid: auto / 1fr 750px 1fr;
      grid-template-areas:
        '. main .';
    }
  }
  
  & footer {
    width: 100%;
    bottom: 0px;
    position: absolute;
    height: $footer-height;
  }
}

main {
  @extend %navbar-pushed;
  @extend %padding-to-footer;
  grid-area: main;
  max-width: 100vw;
}
