@import './colors.scss';

$footer-height: 60px;

a {
  color: $primary;
}

a:hover {
  color: $black;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.navbar-pushed {
  padding-bottom: $footer-height + 20px;
}

.button {
  display: flex;
  background-color: $primary;
  color: $white;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem transparentize($primary, .5);
  }

  &:hover {
    background-color: $darkgrey;
  }

  &-danger {
    @extend .button;
    border-radius: 0.05rem;
    background-color: $white;
    color: $danger;
    border: 1px solid $danger;

    &:hover {
      background-color: $black;
      color: $white;
      border: 1px solid transparent;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem transparentize($danger, .5);
    }
  }

  &-delete {
    @extend .button-danger;

    & svg {
      display: block;
      margin: auto;
      background-color: transparent;
      fill: $danger;
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }
}

.form-input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $black;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid $lighter;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &.is-valid {
    border-color: $success;
    &:focus {
      box-shadow: 0 0 0 0.2rem transparentize($success, 0.6)!important;
    }
  }
}

.form-input.is-valid ~ .valid-feedback {
  display: block;
}

.form-input.is-invalid ~ .invalid-feedback {
  display: block;
}

input:focus {
  border-color: $light-primary;
  box-shadow: 0 0 0 0.2rem rgba(238, 99, 82, 0.25);
  outline-color: transparent;
  outline-width: 0;
}
