@import './colors.scss';
@import './layout.scss';

:focus {
  outline:none;
}

::-moz-focus-inner {
  border:0;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $black;
  }
}

button {
  cursor: pointer;
}

.alert {
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
}

.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.alert-success {
	color: #1c7220;
	background-color: #d7f8d9;
	border-color: #c6f5ce;
}

.button {
  display: flex;
  background-color: $primary;
  color: $white;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: 
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, 
    border-color 0.15s ease-in-out, 
    box-shadow 0.15s ease-in-out;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem transparentize($primary, .5);
  }

  &:hover {
    background-color: $darkgrey;
  }
}

.button-danger {
  @extend .button;
  border-radius: 0.05rem;
  background-color: $white;
  color: $danger;
  border: 1px solid $danger;

  &:hover {
    background-color: $black;
    color: $white;
    border: 1px solid transparent;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem transparentize($danger, .5);
  }
}

.button-delete {
  @extend .button-danger;

  & svg {
    display: block;
    margin: auto;
    background-color: transparent;
    fill: $danger;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

.form-input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $black;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid $lighter;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &.is-valid {
    border-color: $success;
    &:focus {
      box-shadow: 0 0 0 0.2rem transparentize($success, 0.6)!important;
    }
  }
}

.form-input.is-valid ~ .valid-feedback {
  display: block;
}

.form-input.is-invalid ~ .invalid-feedback {
  display: block;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

.success-text {
  color: $success;
}

.sighting-stats {
  margin-bottom: 10px;
  display: flex;
  align-items: stretch;
  justify-content: evenly;
}

.stat-card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.stat-card .stat {
  font-size: xx-large;
  color: $primary;
}

input:focus {
  border-color: $light-primary;
  box-shadow: 0 0 0 0.2rem rgba(238, 99, 82, 0.25);
  outline-color: transparent;
  outline-width: 0;
}

#navbarLogo {
  display: inline;
}

#navbarLogoImage {
  width: 50px;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-radius: 0;
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Content
 */

.picture-cover-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 15%;
  background-color: #EEE;
}

.picture-cover {
  height: 150px;
}

.bird-page-name {
  font-size: 25px;
  z-index: 1;
}

.bird-picture {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

/* => md */
@media (min-width: 768px) {
  .bird-page-name {
    font-size: 35px;
  }
}

.card-bird-thumbnail {
  object-fit: cover;
  object-position: 0% 15%;
  width: 100%;
  max-height: 100px;
}

@media (min-width: 576px) {
  .card-bird-thumbnail {
    max-height: 150px;
    height: 100%;
    object-position: 50%;
  }

  #card-bird-thumbnail-col {
    max-width: 150px;
    height: 150px;
  }
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

/* => md */
@media (min-width: 768px) {
  #registerRequestFormContainer {
    width: 520px;
  }
}
