birding/static/image/*
venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/
test-logs
logs

dist/
build/
*.egg-info/

/aveslog/static/script/*
!/aveslog/static/script/src/*
!/aveslog/static/script/src/
