<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ locale.text('Birding') }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-dark fixed-top bg-primary d-flex flex-md-nowrap p-0 shadow">
      <div class="navbar-main d-flex col-md-2 mr-0">
        <a class="flex-grow-1 align-self-center" href="/">
          <img class="navbar-brand"src="{{ url_for('static', filename='logo-w-s.png') }}" style="width: 40px;">
        </a>
        <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <form class="flex-grow-1 form-inline" onKeyPress="return checkSubmit(event)" id=birdSearchForm action="/bird/search" method="get">
        <input class="w-100 form-control form-control-light" name="query" placeholder="{{ locale.text('Search bird') }}" aria-label="Search bird">
      </form>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          {% if username %}
          <a class="nav-link" href="/logout">{{ locale.text('Logout') }}</a>
          {% else %}
          <a class="nav-link" href="/login">{{ locale.text('Login') }}</a>
          {% endif %}
        </li>
      </ul>
      <div class="col-12 d-md-none collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="collapsableMenuList"></ul>
      </div>
    </nav>
    <div class="container-fluid navbar-pushed">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column" id="sidebarList">
              <li class="nav-item">
                <a class="nav-link" href="/#">{{ locale.text('Profile') }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#">{{ locale.text('Sightings') }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/language?l=en">English</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/language?l=se">Svenska</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/language?l=ko">한국어</a>
              </li>
            </ul>
          </div>
        </nav>
        <main role="main" class="ml-sm-auto col-md-10 px-4">
        {% block content %}{% endblock %}
        </main>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      function checkSubmit(e) {
        if (e && e.keyCode == 13) {
          document.getElementById('birdSearchForm').submit();
        }
      }
    </script>
    <script>
      (function() {
        var sidebarList = document.getElementById('sidebarList');
        var collapsableList = document.getElementById('collapsableMenuList');
        sidebarList.childNodes.forEach(function(item) {
          collapsableList.appendChild(item.cloneNode(true));
        });
      }());
    </script>
  </body>
</html>
