{% extends 'base.html' %}

{% block content %}
  {% if bird_matches %}
    {% for bird_match in bird_matches %}
      <div class="card">
        <div class="card-body">
          {% if locale.name(bird_match.bird) %}
          <p class="card-text">{{ locale.name(bird_match.bird) }}</p>
          {% else %}
          <p class="card-text">{{ bird_match.bird.binomial_name }}</p>
          {% endif %}
          {% if username %}
          <button onclick="addSighting({{ bird_match.bird.id }})">{{ locale.text('Sighted') }}</button>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}

{% block scripts %}
  <script>
    function addSighting(id) {
      var timezoneoffset = -(new Date().getTimezoneOffset());
      $.ajax({
          url: "/sighting",
          type: "POST",
          data: { timezoneoffset: timezoneoffset, bird_id: id },
          success: function(result) {
            console.log(result);
          },
          error: function(result) {
            console.log(result);
          }
      });
    }
  </script>
{% endblock %}
