{% extends 'base.html' %}

{% block content %}
  {% if username %}
  {{ locale.text("Hello world! Hello {{}}!", [username]) }}
  {% if birds %}
  <div class="container">
    <div class="row">
      {% for bird in birds %}
      <div class="col-12">
        <div class="row border rounded">
          <div class="bird-image col-4">
            <img class="img-responsive col-12" style="max-width: 100px;" src="{{url_for('static', filename='spring-bird-2295434_640.jpg')}}"/>
          </div>
          <div class="col-4">{{ bird[0] }}</div>
          <div class="col-4">{{ bird[1] }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endif %}
{% endblock %}
