{% extends 'base.html' %}

{% block content %}
  {% if username %}
  Hello world! Hello {{ username }}!
  <form id=sightingForm action="/" method="post">Bird Sighting:
    <input type="text" name="bird">
    <input type="submit" value="Add" onclick="submitSighting()">
    <input type=hidden id=timezoneoffset name=timezoneoffset>
  </form>
  <br>
  {% if birds %}
  <ol>
    {% for bird in birds %}
    <li>{{ bird }}</li>
    {% endfor %}
  </ol>
  {% endif %}
  <script>
    function submitSighting() {
      document.getElementById('timezoneoffset').value = -(new Date().getTimezoneOffset());
      document.getElementById('sightingForm').submit();
    }
  </script>
  {% endif %}
{% endblock %}
