{% extends 'base.html' %}

{% block content %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <form method=post>
    <input type=text name=username placeholder="{{ locale.text('Username') }}">
    <input type=password name=password placeholder="{{ locale.text('Password') }}">
    <input type=submit value="{{ locale.text('Login') }}">
  </form>
  <a href="/registration_request">{{ locale.text('Register new account') }}</a>
{% endblock %}
