<!doctype html>
<head>
  <title>Birding</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <h1>Birding</h1>
  <p>register</p>
  <form method=post>
    <input type=text name=username>
    <input type=password name=password>
    <input type=submit value=Register>
  </form>
  <a href='/login'>Back to login page</a>
</body>
