<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ locale.text('Birding') }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div id="navbar"></div>
    <div class="container-fluid navbar-pushed">
      <div class="row">
        <div id="sidemenu" class="d-none d-md-block col-md-3 col-lg-2 pr-0"></div>
        <main role="main" class="col-12 col-md-9 col-lg-8">
          {% block content %}{% endblock %}
        </main>
        <div class="d-none d-lg-block col-lg-2">
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <!-- Load our React component. -->
    <script>
      window.menuItems = [];
      {% if g.logged_in_account %}
      window.username = '{{g.logged_in_account.username}}';
      window.menuItems.push({
        href: '{{ url_for('profile.get_profile', username=g.logged_in_account.username) }}',
        text: 'Profile'
      });
      window.menuItems.push({
        href: '/sighting',
        text: 'Sightings'
      });
      window.menuItems.push({
        href: '/authentication/logout',
        text: 'Logout'
      });
      {% else %}
      window.menuItems.push({
        href: '/authentication/login',
        text: 'Login'
      });
      {% endif %}
      window.menuItems.push({
        href: '{{ url_for('settings.get_settings_index') }}',
        text: 'Settings'
      });
      (function() {
        'use strict'
        function setUpMenuOffClickCollapse() {
          $(document).click(function(event) {
            var $navbar = $('.navbar');
            var $dropdown = $('#collapsableMenuList')
            var target = event.target;
            if ($dropdown.is(':visible')) {
              if (target !== $dropdown && !$dropdown.has(target).length) {
                $('.collapse').collapse('hide');
                if (target !== $navbar && !$navbar.has(target).length) {
                  event.preventDefault();
                }
              }
            }
          });
        }
        window.addEventListener('load', setUpMenuOffClickCollapse, true);
      }());
    </script>
    <script type="module" src="{{ url_for('static', filename='script/index.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
