{% extends 'base.html' %}

{% block content %}
  {% if result_items %}
    <div class="text-break">
      {% for item in result_items %}
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper">
              {% if item.thumbnail_picture %}
                <img style="max-height: 150px;" src="{{url_for('static', filename=item.thumbnail_picture.filepath)}}" alt="Card image">
              {% else %}
                <img style="max-height: 150px;" src="{{url_for('static', filename='placeholder-bird.png')}}" alt="Card image cap">
              {% endif %}
            </div>
            <div class="card-body">
              {% if locale.name(item.bird) %}
              <h5 class="card-title">{{ locale.name(item.bird) }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ item.bird.binomial_name }}</h6>
              {% else %}
              <h5 class="card-title">{{ item.bird.binomial_name }}</h5>
              {% endif %}
              {% if g.logged_in_account %}
                <button onclick="addSighting({{ item.bird.id }})">{{ locale.text('Sighted') }}</button>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script>
    function addSighting(id) {
      var timezoneoffset_minute = -(new Date().getTimezoneOffset());
      $.ajax({
          url: "/sighting",
          type: "POST",
          data: { timezoneoffset_minute: timezoneoffset_minute, bird_id: id },
          success: function(result) {
            console.log(result);
          },
          error: function(result) {
            console.log(result);
          }
      });
    }
  </script>
{% endblock %}
