{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>{{ locale.text('Login') }}</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="row">
          {% for category, message in messages %}
            <div class="col alert alert-{{category}}" role="alert">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <div class="d-flex justify-content-center">
      <div class="row">
        <div class="col">
          <div id="loginFormContainer">
            <form method="post">
              <div class="form-row">
                <div class="form-group col-6">
                  <label for="usernameInput">{{ locale.text('Username') }}</label>
                  <input id="usernameInput" class="form-control" type="text" name="username" placeholder="{{ locale.text('Username') }}">
                </div>
                <div class="form-group col-6">
                  <label for="passwordInput">{{ locale.text('Password') }}</label>
                  <input id="passwordInput" class="form-control" type="password" name="password" placeholder="{{ locale.text('Password') }}">
                </div>
              </div>
              <div class="d-flex flex-row">
                <a class="btn btn-secondary" href="/authentication/register/request">{{ locale.text('Register new account') }}</a>
                <button class="btn btn-primary ml-auto" type="submit">{{ locale.text('Login') }}</button>
              </div>
            </form>
            <div class="row">
              <a href="{{url_for('authentication.get_password_reset_request')}}">Forgot your password?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
