{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{ locale.text('Password Reset') }}</h1>
        <p>{{ locale.text('Please provide your new password.') }}</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{category}}" role="alert">{{message}}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <form class="needs-validation" method="post" novalidate>
          <div class="form-group">
            <label for="passwordInput">{{ locale.text('Password') }}</label>
            <input id="passwordInput" class="form-control" type="password" name="password" aria-describedby="passwordHelpBlock" placeholder="{{locale.text('Password')}}" required pattern=".{8,128}">
            <small id="passwordHelpBlock" class="form-text text-muted">
              {{ locale.text('Must be 8 to 128 character long.') }}
            </small>
            <div class="valid-feedback">
              {{ locale.text("Seems long enough!") }}
            </div>
            <div class="invalid-feedback">
              {{ locale.text("Needs more love.") }}
            </div>
          </div>
          <div class="form-group">
            <label for="confirmPasswordInput">{{ locale.text('Confirm password') }}</label>
            <input id="confirmPasswordInput" class="form-control" type="password" name="confirmPassword" placeholder="{{locale.text('Confirm password')}}">
            <div class="valid-feedback">
              {{ locale.text("Both passwords matches!") }}
            </div>
            <div class="invalid-feedback">
              {{ locale.text("Doesn't match your password above.") }}
            </div>
          </div>
          <input type="hidden" name="token" value="{{ password_reset_token }}">
          <button class="btn btn-primary" type="submit">{{ locale.text('Submit') }}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
  <script src="{{ url_for('static', filename='password-validation-setup.js') }}"></script>
{% endblock %}
