{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{ locale.text('Registration') }}</h1>
        <p>{{ locale.text('Please provide your email address to receive your registration form link.') }}</p>
      </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="row">
          {% for category, message in messages %}
            <div class="col alert alert-{{category}}" role="alert">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <div class="row">
      <div class="col">
        <form method="post">
          <div class="form-group">
            <label for="emailInput">{{ locale.text('Email address') }}</label>
            <input id="emailInput" class="form-control" type="text" name="email" placeholder="{{ locale.text('Enter email') }}">
          </div>
          <button class="btn btn-primary" type="submit">{{ locale.text('Continue') }}</button>
        </form>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <a href='/authentication/login'>{{ locale.text('Back to login') }}</a>
      </div>
    </div>
  </div>
{% endblock %}
