{% extends 'base.html' %}

{% block content %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <h2>{{ locale.text('Register') }}</h2>
  <p>{{ locale.text('Fill out the following form to complete your registration.') }}</p>
  <form method="post">
    <input type="text" name="email" readonly value="{{user_account_registration.email}}">
    <input type="username" name="username" placeholder="{{locale.text('Username')}}">
    <input type="password" name="password" placeholder="{{locale.text('Password')}}">
    <input type="hidden" name="token" value="{{user_account_registration.token}}">
    <input type="submit" value="{{ locale.text('Register') }}">
  </form>
{% endblock %}
